@import 'styles/typography'

.button
    padding: 10px 30px
    display: flex
    justify-content: center
    align-items: center
    background: #fff
    border: 1px solid #000
    border-radius: 20px
    cursor: pointer
    transition: all .3s

.button_xs
    padding: 2px 15px
    font-size: 14px

.button_sm
    padding: 5px 15px

.button_md
    padding: 10px 30px
    @include body-medium

.button_disabled
    cursor: unset
    border-color: #D9D9D9

.button_fullWidth
    width: 100%

.button_danger
    border-color: red
    color: red
    opacity: .5