.mainLayout
    padding: 0 40px 40px 40px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    @media screen and (max-width: 768px)
        padding: 0 25px 40px 25px

.mainLayout__children
    max-width: 600px
    width: 100%

    @media screen and (max-width: 700px)
        max-width: none

.mainLayout__childrenCard
    max-width: 600px
    width: 100%

    @media screen and (max-width: 700px)
        width: auto

// .mainLayout__aside
    // margin-left: 20px