.friends__list
    width: 400px
    height: 100%
    background: red
    
.friends__layout
    max-width: none
    display: flex
    justify-content: space-between

.friends__nav
    text-align: right