// H1
@mixin h1-bold
    font-weight: 700
    font-size: 32px
    line-height: 40px

@mixin h1-medium
    font-weight: 500
    font-size: 32px
    line-height: 40px

@mixin h1-regular
    font-weight: 400
    font-size: 32px
    line-height: 40px

// H2
@mixin h2-bold
    font-weight: 700
    font-size: 24px
    line-height: 40px

@mixin h2-medium
    font-weight: 500
    font-size: 24px
    line-height: 40px

@mixin h2-regular
    font-weight: 400
    font-size: 24px
    line-height: 40px

// H3
@mixin h3-bold
    font-weight: 700
    font-size: 18px
    line-height: 40px

@mixin h3-medium
    font-weight: 500
    font-size: 18px
    line-height: 40px

@mixin h3-regular
    font-weight: 400
    font-size: 18px
    line-height: 40px

// Body
@mixin body-bold
    font-weight: 700
    font-size: 16px
    line-height: 40px

@mixin body-medium
    font-weight: 500
    font-size: 16px
    line-height: 40px

@mixin body-regular
    font-weight: 400
    font-size: 16px
    line-height: 40px

// XS
@mixin xs-bold
    font-weight: 700
    font-size: 14px
    line-height: 40px

@mixin xs-medium
    font-weight: 500
    font-size: 14px
    line-height: 40px

@mixin xs-regular
    font-weight: 400
    font-size: 14px
    line-height: 40px

// XSS
@mixin xss-bold
    font-weight: 700
    font-size: 12px
    line-height: 40px

@mixin xss-medium
    font-weight: 500
    font-size: 12px
    line-height: 40px

@mixin xss-regular
    font-weight: 400
    font-size: 12px
    line-height: 40px