.navbar
    display: flex
    align-items: center

.navbar__logo
    margin-right: 20px

.navbar__items
    display: flex
    align-items: center

.navbar__item
    margin-right: 15px
    text-decoration: none
    font-weight: 400
    font-size: 16px
    line-height: 19px
    transition: all 0.2s
    text-transform: capitalize
    color: #000
    cursor: pointer

    &:hover
        font-weight: 600

    &:last-child
        margin-right: 0

.navbar__item_active
    font-weight: 600